body{
    background-image: url("/img/fondotierra.jpg");
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    margin: 0; 
    padding: 0; 
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la ventana */
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
    }  


.grid-container {
    height: 70vh;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 5px;
    background-color: #ffffff;
    padding: 5px;
  }
  
  .grid-container > div {
    background-color:#1A1C48;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }


.footer {
    color: white;
    grid-area: section__footer;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". footer__menu .";
}
.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
 
}
.select{
    padding: 8px 0;
    border-bottom: 4px solid var(--color--five) ;
}

#contenedor2{
   
    position: absolute;
    top: 89%;
    left: 30%;
	width: 35vw;
	height: 0px;
	border-top: solid 0px transparent;
	border-right: solid 50px transparent;
	border-bottom: solid 100px #1a1c4800;
	border-left: solid 50px transparent;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}
footer{
    text-decoration: none;
}
footer span{
    color: rgb(255, 255, 255);
   
    text-decoration: none;
}
.Tcapsules{  font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    position: absolute;
left: 45vw;
font-size: 3em;}
.text{
    position: absolute;
    left: 41vw ;
    font-size: 2em;
    bottom: 1vh;
    color:rgb(185, 175, 175) ;
  
}
.btn3{
    top: -5vw;
    position: absolute;
    border: none;
    text-decoration: none;
    font-size: 2em;
    border-radius: 0.2vw;
     height: 7vh;
    cursor: pointer;
    background-color: #1A1C48;
    color: aliceblue;
    left: 57vw;
    transition: transform 0.5s ease;

}


#informacion{
    background-color: #ffffff00;
    top: 3vw;
    position: absolute;
    left: 4vw;
    transition: transform 0.3s ease;
    height: 40vw;
    width: 24vw;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: #ffffff 0px 0px  10px ;
    color: white;
    text-align: center;
    font-size: ;
}
span{
   
       color: #FFD630;
   }

#capsule1{
    position: absolute;
    left: 60vw;
    width: 30vw;
    top: 12vw;
    border-radius: 1vw;
}
#pasar-Pagina{
    width: 30vw;
    height: 3vw;
    position: absolute;
    
    left: 80vw;
    display: flex;
    padding: 4px 20px ;
}
#pag{
 position: absolute;
    left: -26vw;
    text-decoration: none;
    margin: 0 1vw;
    top: 90%;
}
li{

    border-radius: 10px;
}

#pag li{
    display: inline-block;
    background-color: #121569;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: vw;
    color: white;
}