body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 1vw;
    background-image: url("/img/navef.jpeg");
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier padding */
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la ventana */
    overflow: hidden; /* Evita el desplazamiento si hay más contenido */
} 
#textValuation{color: green;}
#informacion{
        background-color: #1f225c;
        top: 3vw;
        position: absolute;
        left: 4vw;
        transition: transform 0.3s ease;
        height: 40vw;
        width: 24vw;
        padding: 1vw;
        border-radius: 1vw;
        box-shadow: #da9292 0px 0px  10px ;
    }


.footer {
    color: white;
    grid-area: section__footer;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". footer__menu .";
}
.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}

#contenedor2{ 
    position: absolute;
    top: 93%;
    left: 33%;
	width: 35vw;
	height: 0px;

    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}
.elonkimg{
    border: 1px solid;
    width: 10vw;
    border-radius: 20px;
    left: 7%;
    top: 42%;
    position: absolute;
   
}
.name{   
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    text-shadow:  0px 0px 1vw rgb(0, 0, 0);
    position: absolute;
    left: 37%;
    font-size: 7em;
    color: #ffffff;
}
#elonkLetra{

    left: 6%;
    color: #ffffff;
    font-size: 3em;
    top: 70%;
    position: absolute;
}
.fundador{
    top: 25%;
    color: #fd923a;
    left: 7%;
    position: absolute;
font-size: 3em;}
footer{
    font-size: small;
    text-decoration: none;
}

img.ul{
    transition: transform 0.3s ease;
    padding: 1vw; 
}
img.ul:hover{  transform: scale(2)}
#inf1{
    
    position: absolute;
left: 85%;}
#info2{
    font-size: 1.2em;
    color: #b42222;
    border-radius: vw;
}


.text{
    position: absolute;
    left: 41vw ;
    font-size: 2em;
    bottom: 1vh;
    color:rgb(185, 175, 175) ;
  
}





#pasar-Pagina{
    width: 20vw;
    height: 3vw;
    position: absolute;
    top: 42vw;
    left: 80vw;
    display: flex;
    padding: 4px 20px ;
   
}
#pag{

    text-decoration: none;
    margin: 0 1vw;
}
#pag li{
    display: inline-block;
    background-color: #010220;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: 50vw;
    color: white;
   
}

#lugar{
    top: 10vw;
    left: 40%;
    position: absolute;
    color: white;
}
.headquarters{
    top: 0%;
    color: #fd923a;
}
#pruebas{
    text-align: center;
    position: absolute;
    left: 80%;
    border-radius: 6px ;
    height: 9vh;
    top: 30%;
    
    color: white;
    font-size: 2em;
}
span{
color:#ffffff;


}
#contPart1{height: 10vw;
    border-radius: 1%;
 
    box-shadow: 0px 0px 10px black ;
}
#datosLugar{

    box-shadow: 0px 0px 10px black;
    text-align: center;
    top: 7vw;
    border-radius: 10px;
    border: 1px solid #7877b6;
    width: 20vw;
    position: absolute;
    right: 1vw;

}
.value{color: #fd923a;

}
.valuation{
    width: 10vw;
}
.info{
    width: 30vw;
    left: 1vw;
    position: absolute;
    top: 10vh;
}
.information{
    position: absolute;
    left: 6vw;
    color: #EA7B15;
    top: -2vw;
}
#links a {color: white;
 justify-content: space-around;
margin-left: 90%;
text-decoration: none;
display: block;
border-radius: 1vw;
width: 10vw;
text-align: center;
box-shadow: #333231 0px 0px 15px;

}
#links a:hover{background-color: #261f6996;}
#link1{top: 39vw;
    position: absolute;
    left: vw;
font-size: 2em;
}
#link2{top: 45vw;

font-size: 2em;
position: absolute;}
#link3{top:36vw ;
    position: absolute;
    font-size: 2em;}
#link4{top: 42vw;
    font-size: 2em;
position: absolute;}


span{
font-size: 1em;
color: #fd923a;
}

footer span{
color: rgb(255, 255, 255);
font-size: small;
text-decoration: none;
    }

h2{
    color: #FFD630;}
    h1{color: white;}
    #datos{
       border-radius: 1vw;
        width: 20vw;
        height: 21vh;
  
        position: absolute;
        left: 45vw;
        top: 33vw;
    }