body{

    background-position: center center;
    padding: 1vw;
    background-image: url("/img/Background.png");
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier padding */
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la ventana */
    overflow: hidden; /* Evita el desplazamiento si hay más contenido */
} 

#informacion{
        background-color: #1f225c;
       top: 3vw;
        position: absolute;
        left: 4vw;
        transition: transform 0.3s ease;
       height: 40vw;
        width: 24vw;
        padding: 1vw;
        border-radius: 1vw;
        box-shadow: #da9292 0px 0px  10px ;
    }


.footer {
    color: white;
    grid-area: section__footer;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". footer__menu .";
}
.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
 
}



#contenedor2{
   
    position: absolute;
    top: 89%;
    left: 35%;
	width: 35vw;
	height: 0px;
	border-top: solid 0px transparent;
	border-right: solid 50px transparent;
	border-bottom: solid 100px #1A1C48;
	border-left: solid 50px transparent;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}
.elonkimg{
    border: 1px solid;
    width: 10vw;
    border-radius: 20px;
    left: 5%;
    top: 42%;
    position: absolute;
   
}
.name{   
    
    text-shadow:  2px 2px 40px rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    font-size: 7em;
    color: #ffffff;
}
#elonkLetra{

    left: 6%;
    color: #ffffff;
    font-size: 3em;
    top: 70%;
    position: absolute;
}
.fundador{
    top: 25%;
    color: #6c7099;
    left: 7%;
    position: absolute;
font-size: 3em;}
footer{
    font-size: small;
    text-decoration: none;
}

img.ul{
    transition: transform 0.3s ease;
    padding: 1vw; 
}
img.ul:hover{  transform: scale(2)}
#inf1{
    
    position: absolute;
left: 85%;}
#info2{
    font-size: 1.2em;
    color: #b42222;
    border-radius: vw;
}
#infcohete{
   
}

.text{
    position: absolute;
    left: 41vw ;
    font-size: 2em;
    bottom: 1vh;
    color:rgb(185, 175, 175) ;
  
}





#pasar-Pagina{
    width: 20vw;
    height: 3vw;
    position: absolute;
    top: 42vw;
    left: 80vw;
    display: flex;
    padding: 4px 20px ;
   
}
#pag{

    text-decoration: none;
    margin: 0 1vw;
}
#pag li{
    display: inline-block;
    background-color: #010220;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: 50vw;
    color: white;
   
}

#lugar{
    top: 10vw;
    left: 40%;
    position: absolute;
    color: white;
}
.headquarters{
    top: 0%;
    color: #6f6ea1;
}
#pruebas{
    text-align: center;
    position: absolute;
    left: 60%;
    border-radius: 6px ;
    height: 9vh;
    top: 50%;
    
    color: white;
    font-size: 2em;
}
span{
color:#ffffff;


}
#contPart1{height: 10vw;
    border-radius: 1%;
 
    box-shadow: 0px 0px 10px black ;
}
#datosLugar{

    box-shadow: 0px 0px 10px black;
    text-align: center;
    top: 7vw;
    border-radius: 10px;
    border: 1px solid #7877b6;
    width: 20vw;
    position: absolute;
    right: 1vw;

}
.value{color: #6c7099;

}